<% found.forEach(function(message){ %>
	<div class="row ml-0 mr-0">
		<div class="col-12 message-timestamp active-timestamp mt-3 mb-3 text-center text-muted">
		</div>
		<div class="col-12" data-timestamp="<%= message.chat.timestamp %>">
			<% if(message.chat.sender == 'Company'){ %>
				<div class="text-bubble company-text">
					<% if(message.chat.mediaURL){ %>
							<img class="thumbnail" src="<%=message.chat.mediaURL%>">
						<% } else { %>
							<%= message.chat.message %>
						<% } %>
				</div>
				<div class="collapse company-timestamp text-muted">
					<%= message.chat.timestamp %>
				</div>
			<% } else { %>

				<% if(message.chat.sentiment == 'positive'){ %>
					<div class="text-bubble customer-text" style="background-color:#27c431;">
				<% } else if(message.chat.sentiment == 'neutral'){ %>
					<div class="text-bubble customer-text">
				<% } else if(message.chat.sentiment == 'negative'){ %>
					<div class="text-bubble customer-text" style="background-color:#c62825;">
				<% } %>
					<% if(message.chat.mediaURL){ %>
							<img class="thumbnail" src="<%=message.chat.mediaURL%>">
						<% } else { %>
							<%= message.chat.message %>
						<% } %>
				</div>
				<div class="collapse customer-timestamp text-muted">
					<%= message.chat.timestamp %>
				</div>
			<% } %>
				
		</div>
	</div>
<% }); %>