

<link rel="stylesheet" href="/css/emojionearea.min.css">
<script type="text/javascript" src="/js/emojionearea.min.js"></script>


<!-- <script type="text/javascript" src="/node_modules/emojionearea/dist/emojionearea.min.js"></script> -->

<div id="conversation-body">

	<% found.chat.forEach(function(message){ %>
		<div class="row ml-0 mr-0">
			<div class="col-12 message-timestamp active-timestamp mt-3 mb-3 text-center text-muted">
			</div>
			<div class="col-12" data-timestamp="<%= message.timestamp %>">
				<% if(message.sender == 'Verb'){ %>
					
					<% if(message.status == 'failed'){ %>
					<div class="text-bubble verb-text not-delivered">
						<% if(message.mediaURL){ %>
							<img class="thumbnail" src="<%=message.mediaURL%>">
						<% } else { %>
							<%= message.message %>
						<% } %>
					</div>
					<% } else { %>
					<div class="text-bubble verb-text">
						<% if(message.mediaURL){ %>
							<img class="thumbnail" src="<%=message.mediaURL%>">
						<% } else { %>
							<%= message.message %>
						<% } %>
					</div>
					<% } %>
					<div class="collapse verb-timestamp text-muted">
						<%= message.timestamp %> - <%= message.status%>
					</div>
				<% } else { %>
					<div class="text-bubble customer-text text-center">
						<% if(message.mediaURL){ %>
							<img class="thumbnail" src="<%=message.mediaURL%>">
						<% } else { %>
							<%= message.message %>
						<% } %>
					</div>
					<div class="collapse customer-timestamp text-muted">
						<%= message.timestamp %>
					</div>
				<% } %>
					
			</div>
		</div>
	<% }); %>
	<div id="typing-row" class="row ml-0 mr-0">
		<div id="someone-typing" class="col-12 text-right" style="color:rgb(251, 249, 238);">
			<p>Someone is typing...</p>
		</div>
	</div>
</div>

<div class="message-input pt-3">
<form>
	<div class="row pl-3 pr-3 p-lg-0">
			<div class="col-8 col-lg-10">
				<textarea autocapitalize="sentences" id="new-message" class="form-control" required placeholder="Say something nice!" data-emoji-picker="true" type="text"></textarea>
			</div>
			<div class="col-4 col-lg-2">
				<button type='submit' class='btn btn-primary w-100'>Send</button>
			</div>
		
	</div>

	</form>
	
</div>

<script>
  $(function () {
    
    $('form').submit(function(){
      
      socket.emit('chat message', {message:$('#new-message').val(), phone:$('#active-phone').data('phone')});
      $('#new-message').val('');
      return false;
    });
    socket.on('chat message', function(data){

    	var html = '<div class="row ml-0 mr-0"><div class="col-12 message-timestamp mt-3 mb-3 text-center text-muted"></div><div class="col-12" data-timestamp="'+data.timestamp+'"><div class="text-bubble '+data.sender+'-text">'+data.message+'</div><div class="collapse '+data.sender+'-timestamp text-muted">'+data.timestamp+'</div></div></div>';


    	if($('#'+data.phone).hasClass('active-preview')){
    		var chatPreview = '<div id="'+data.phone+'" class="col-12 chat-preview active-preview" data-phone="'+data.phone+'"><span class="name mb-0">'+data.firstName+' '+data.lastName+'</span> <span class="conversation-timestamp">'+moment(data.timestamp).fromNow() +'</span><p class="text-peek">'+data.message+'</p></div>';
    	} else{
    		var chatPreview = '<div id="'+data.phone+'" class="col-12 chat-preview" data-phone="'+data.phone+'"><span class="name mb-0">'+data.firstName+' '+data.lastName+'</span><span class="conversation-timestamp">'+moment(data.timestamp).fromNow() +'</span><p class="text-peek">'+data.message+'</p></div>';
    	}
    	$('#'+data.phone).remove();
    	$('#conversation-list').prepend(chatPreview);


    	if(data.phone == $('#active-phone').data('phone')){
    		$(html).insertBefore('#typing-row');
    	}


    });

    socket.on('trial', function(data){
    	console.log('someone is on trial page');
    });


    function timeoutFunction() {  
		typing = false;
		socket.emit('notTyping', {typing:typing});
		console.log('bleh');
	}
	var timeout = undefined;

	$("#new-message").keypress(function (e) {
		if (timeout) { clearTimeout(timeout) }
	    if (e.which !== 13) {
	        typing = true;

	        socket.emit("typing", {user:$('#active-user').text(), conversation:$('#active-phone').data('phone')});
	        timeout = setTimeout(timeoutFunction, 1500);
	    } else {
	        timeoutFunction(); 
	    }
	    
	});

	socket.on("isTyping", function(data) {  
		console.log(data);
		console.log('typing');
		if(data.conversation == $('#active-phone').data('phone')){
    		$('#someone-typing').text(data.user+' is typing...');
			$('#someone-typing').css('color','#6c757d');
    	}
			
	});
	socket.on("notTyping", function(data){
		console.log('not typing');
		$('#someone-typing').css('color','rgb(251, 249, 238)');
	});

  });

  <% if(found.dontText){ %>
  	$('#new-message').prop('readonly', true);
  	$('.message-input button').prop('disabled', true);
  	$('#conversation-body').addClass('dimmed');
  <% } %>

  // $("#new-message").emojioneArea({
  // });


</script>