<% include partials/header %>


<div class="well">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
          <form action="/addtoinventory" method="post">
            <h3><%= campus %> Inventory</h3>
            <div><%= inventory.inventory %> Bars</div>

            <input name="school" value="<%= campus %>" style="display:none;">
            <div class="row form-group">
                <input name="numBars" type="number">
            </div>
            <div class="row form-group">
                <label for="repSlack">Rep Slack Channel</label>
                <input name="repSlack" type="text" value="<%= inventory.repSlack %>">
            </div>
            <div class="row form-group">
                <input class="btn btn-primary" type="submit" value="Add to Inventory"></button>
            </div>

            </form>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>

<div class="btn-group btn-toggle centered">
    <a id="unfulfilled" href="/campuspickup?campus=<%=campus%>" class="btn btn-default buttonLink">Unfulfilled</a>
    <a id="fulfilled" href="/campusfulfilled?campus=<%=campus%>" class="btn btn-default buttonLink">Fulfilled</a>    
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Invoice Number</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Number of Bars</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
                <% found.forEach(function(order){ %>
                    <tr>
                        <td><%= order.invoiceNumber %></td>
                        <td><% if(name == 'found.firstName'){ %>
                            <% var nameToPlace = order.firstName + " " + order.lastName %>
                            <%= order.firstName + " " + order.lastName %>
                            <%} else { %>
                            <% var nameToPlace = order.user.billingAddress.name %>
                            <%= order.user.billingAddress.name %>
                            <% } %>      
                        </td>
                        <td><% if(name == 'found.firstName'){ %>
                            <a href="/textcustomers/<%= order.customerPhone %>"><%= order.customerPhone %></a>
                            <%} else { %>
                            <a href="sms:<%= order.user.billingAddress.phone %>"><%= order.customerPhone %></a>
                            <% } %>      
                        </td>
                        <td><%= order.totalBars %></td>
                        <td>
                            <form action="/setpickupstatus" method="POST">
                                <input style="display:none" name="invoiceNumber" value="<%= order.invoiceNumber %>"/>
                                <input style="display:none" name="newStatus" value="<%= newStatus %>"/>
                                <input style="display:none" name="redirect" value="<%= redirect %>"/>
                                <button type="button" class="btn btn-success" onclick="confirmation('<%= order.invoiceNumber %>','<%= nameToPlace %>')"><%=actionToTake%></button>
                                <input id="submit<%= order.invoiceNumber %>" style="display:none" type="submit" name ="submit" value="Picked Up"/>
                            </form>
                        </td>
                    </tr>
                <% });%>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want to <%= actionToTake %>:</p>
        <p id="modalInvoice"></p>
        <p id="modalName"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nope</button>
        <button id="confirmFulfilled" data-order="" type="button" class="btn btn-success" onclick="fulfill()"><%= actionToTake %></button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
    // alert("<%= type %>");
    $("#<%= type %>").removeClass("btn-default").addClass("btn-primary active");
});
function confirmation(invoiceNumber, name) {
    // alert(invoiceNumber);
    // ('#myModal').modal('toggle')
    $('#modalInvoice').html('<b>'+invoiceNumber+'</b>');
    $('#modalName').html('<b>'+name+'</b>');
    $('#confirmFulfilled').data("order",invoiceNumber);
    $('#myModal').modal('toggle');
}
function fulfill(){
    var order=$('#confirmFulfilled').data("order");
    $("#submit"+order).click();
}

</script>
<% include partials/footer %>