<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1><%= found.invoiceNumber %></h1>
            <div class="container col-sm-12">
                <h2>Items</h2>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% found['items'].forEach(function(item){ %>
                            <tr>
                                <td><%= item.id %></td>
                                <td><% if( item.name.toUpperCase().includes("SUBSCRIPTION")){%><a href="/subscriptions/<%=found.paymentTransactionID %>"/> <%}%> <%= item.name %></td>
                                <td><%= item.quantity %></td>
                                <td><%= item.price %></td>
                                <td>$<%= item.totalPrice %></td>
                            </tr>
                        <% });%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="well col-sm-4">
            <h2>Information</h2>
            <hr>
            <h3>Billing Address</h3>
            <table>
                <tbody>
                    <% var addressKeys = ['name','address1','address2','company','city','state','zip','country','phone'];
                       addressKeys.forEach(function(key){ %>
                           <tr>
                               <td><%= key %> : </td><td><%= found.user.billingAddress[key] %></td>
                           </tr>
                       <% }); %>

                </tbody>
                
            </table>
            <hr>
            <h3>Shipping Address</h3>
            <table>
                <tbody>
                    <% addressKeys.forEach(function(key){ %>
                           <tr>
                               <td><%= key %> : </td><td><%= found.user.shippingAddress[key] %></td>
                           </tr>
                       <% }); %>

                </tbody>
                
            </table>
        </div>
    </div>
</div>





<% include partials/footer %>