<% include partials/header %>

<div class="container">
    <div class="left-align">
        <form action="/orderinfo" method="POST">
            <div class="form-group">
                <label>Invoice Number</label>
                <input class="col-10" type="text" name="invoiceNumber" placeholder="VERBmattiscute" value=<%=invoiceNumber%>>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" placeholder="Matthew Tsarnecki" value=<%=name%>>
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" name="email" placeholder="fishingboy69@aol.com" value=<%=email%>>
            </div>
            <div class="form-group">
                <label>Order Type</label>
                <input type="text" name="orderType" placeholder="sub-renewal, one-time" value=<%=orderType%>>
            </div>
            <div class="form-group">
                <input type="submit">
            </div>
            
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Invoice Number</th>
                <th>Order Type</th>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
                <% found.forEach(function(order){ %>
                    <tr>
                        <td><a href="/orders/<%=order.invoiceNumber%>"><%= order.invoiceNumber %></a></td>
                        <td><%= order.orderType %></td>
                        <td><%= order.user.billingAddress.name %></td>
                        <td><%= String(order.completionDate).substring(4,15)%></td>
                        <td>$<%= order.paid %></td>
                    </tr>
                <% });%>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>




<% include partials/footer %>