<% include partials/header %>

<% found %>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="well container col-sm-12">
                <h2>Order Info</h2>
                <div class="well">
                    <h3>Invoice Number</h3>
                    <p><%= found.invoiceNumber %></p>
                    <h3>Customer Phone</h3>
                    <p><a href="/textcustomers/<%= found.customerPhone %>"><%= found.customerPhone %></a></p>
                    <h3>Stripe Payment</h3>
                    <p><a href="https://dashboard.stripe.com/payments/<%= found.stripeCharge %>" target="_blank"><%= found.stripeCharge %></a></p>
                    <h3>Completion Date</h3>
                    <p><%= found.completionDate %></p>

                </div>
                <div class="well">
                    <h3>Items</h3>
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Item ID</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total Price</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% found.items.forEach(function(item){ %>
                                <tr>
                                    <td><%= item.id %></a></td>
                                    <td><%= item.name %></a></td>
                                    <td><%= item.quantity %></td>
                                    <td><%= item.price %></td>
                                    <td><%= item.totalPrice %></td>
                                </tr>
                            <% });%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>





<% include partials/footer %>