<% include partials/header %>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Phone</th>
                <th>Created</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Total Orders</th>
                <th>Total Value</th>
              </tr>
            </thead>
            <tbody>
                <% found.forEach(function(customer){ %>
                    <tr>
                        <td><a href="/crm?phone=<%= customer.phone %>"><%= customer.phone %></a></td>
                        <td><%= String(customer.created).substring(4,15) %></td>
                        <td><%= customer.firstName + ' '+customer.lastName %></td>
                        <td><%= customer.email %></td>
                        <td><%= customer.totalOrders %></td>
                        <td><%= customer.totalValue %></td>
                    </tr>
                <% });%>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>




<% include partials/footer %>