<% include partials/header %>



<div class="btn-group btn-toggle centered">
    <a id="unfulfilled" href="/webfulfillment" class="btn btn-default buttonLink">Unfulfilled</a>
    <a id="fulfilled" href="/webfulfilled" class="btn btn-default buttonLink">Fulfilled</a>    
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Invoice Number</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Number of Bars</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
                <div id="accordion" role="tablist">
                <% found.forEach(function(order, i){ %>
                    <div class="card">
                        <tr class="card-header" role="tab" id="heading<%= i %>">
                            <td class="collapsed" data-toggle="collapse" href="#collapse<%= i %>" role="button" aria-expanded="true" aria-controls="collapse<%= i %>">+</td>
                            <td><%= order.invoiceNumber %></td>
                            <td><% if(name == 'found.firstName'){ %>
                                <% var nameToPlace = order.firstName + " " + order.lastName %>
                                <%= order.firstName + " " + order.lastName %>
                                <%} else { %>
                                <% var nameToPlace = order.user.billingAddress.name %>
                                <%= order.user.billingAddress.name %>
                                <% } %>      
                            </td>
                            <td><% if(name == 'found.firstName'){ %>
                                <a href="/textcustomers/<%= order.customerPhone %>"><%= order.customerPhone %></a>
                                <%} else { %>
                                <a href="sms:<%= order.user.billingAddress.phone %>"><%= order.customerPhone %></a>
                                <% } %>      
                            </td>
                            <td><% if(name == 'found.firstName'){ %>
                                <%= order.totalBars%>
                                <%} else { %>
                                <%= order.totalBars %>
                                <% } %>      
                            </td>
                            
                            <td>
                                <% if(order.totalBars % 10 == 0){ %>
                                    Fulfill on MCF
                                <% } else { %>
                                    <button class="btn btn-primary" onclick="makeLabel('<%= order.invoiceNumber %>');">Print Label</button>
                                <% } %>
                            </td>
                            <td>
                                <form action="/setpickupstatus" method="POST">
                                    <input style="display:none" name="invoiceNumber" value="<%= order.invoiceNumber %>"/>
                                    <input style="display:none" name="newStatus" value="<%= newStatus %>"/>
                                    <input style="display:none" name="redirect" value="<%= redirect %>"/>
                                    <button type="button" class="btn btn-success" onclick="confirmation('<%= order.invoiceNumber %>','<%= nameToPlace %>')"><%=actionToTake%></button>
                                    <input id="submit<%= order.invoiceNumber %>" style="display:none" type="submit" name ="submit" value="Picked Up"/>
                                </form>
                            </td>
                        </tr>
                        <tr id="collapse<%= i.toString() %>" class="collapse in" role="tabpanel" data-parent="#accordion">
                            <td class="card-body text-left">
                                <p style="margin-bottom:0;"><%= order.firstName %> <%=order.lastName%></p>
                                <p style="margin-bottom:0;"><%= order.address.address1%></p>
                                <% if(order.address.address2){%><p style="margin-bottom:0;"><%= order.address.address2%></p><%}%>
                                <p style="margin-bottom:0;"><%= order.address.city%>, <%= order.address.state%> <%= order.address.zip%></p>
                                <p style="margin-bottom:0;"><%= order.email %></p>
                            </td>
                        </tr>
                <% });%>
                </div>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want to <%= actionToTake %>:</p>
        <p id="modalInvoice"></p>
        <p id="modalName"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nope</button>
        <button id="confirmFulfilled" data-order="" type="button" class="btn btn-success" onclick="fulfill()"><%= actionToTake %></button>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
        // alert("<%= type %>");
        $("#<%= type %>").removeClass("btn-default").addClass("btn-primary active");
    });
    function confirmation(invoiceNumber, name) {
        // alert(invoiceNumber);
        // ('#myModal').modal('toggle')
        $('#modalInvoice').html('<b>'+invoiceNumber+'</b>');
        $('#modalName').html('<b>'+name+'</b>');
        $('#confirmFulfilled').data("order",invoiceNumber);
        $('#myModal').modal('toggle');
    }
    function fulfill(){
        var order=$('#confirmFulfilled').data("order");
        $("#submit"+order).click();
    }
    function makeLabel(invoiceNumber){
        // var data = {
        //     "order":order
        // };
        console.log(invoiceNumber);
        var data = {
            "invoiceNumber" : invoiceNumber
        };
        
        $.ajax({
            url: '/shippinglabel',
            type: "POST",
            dataType: "json",
            data: JSON.stringify(data),
            contentType: "application/json",
            cache: false,
            timeout: 15000,
            complete: function() {
            //called when complete
                // console.log('Complete');
            },
            success: function(data) {

                if(data.result == 'success'){
                    // alert("success");
                    open(data.label);
                } else {
                    if(data.errMessage){
                        alert(data.errMessage);
                    }
                    if(data.error){
                        alert('err');
                    }

                }
            },
            error: function() {
                alert('Error. Please try again later.');
            }
        });
    }

</script>
<% include partials/footer %>